$white: #FFFFFF;
$gray: rgba(132, 156, 165, 1);
$black: black;
$light-teal: rgba(153, 225, 217, 1);
$dark-teal: rgba(41, 115, 115, 1);
$bright-blue: #99E8E8;
$dark-blue: #0E4270;
$grey-blue: #506C84;
$muted-blue: #88C9C9;
$super-light-blue: #EDFFFF;
$light-green: rgba(175, 224, 206, 1);
$green: #7AD3B7;
$red: rgba(144, 78, 85, 1);

