$white: #FFFFFF;
$gray: rgba(132, 156, 165, 1);
$black: black;
// $dark-teal: rgba(2, 47, 64, 1);
// $light-teal: rgba(153, 225, 217, 1);
// $offwhite: rgba(231, 236, 239, 1);
// $blue: rgba(39, 76, 119, 1);
// $light-blue: rgba(96, 150, 186, 1);



/* Color Theme Swatches in RGBA */
$lilac: rgba(215, 216, 242, 1);
$light-blue: rgba(145, 187, 242, 1);
$light-teal: rgba(208, 242, 232, 1);
$red: rgba(242, 48, 4, 1);
$dark: rgba(12, 12, 12, 1);


/* Color Theme Swatches in RGBA */
// $red: rgba(242, 99, 137, 1);
$dark-blue: rgba(0, 23, 38, 1);

$blue: rgba(114, 206, 216, 1);
$offwhite: rgba(242, 242, 242, 1);

