$white: #FFFFFF;
$gray: #97A5AA;
$blue: #0c405f;
$light-blue: #38c2f7;
$bright-blue: #38c2f7;
$fade-blue: #ecf9ff;
$dark-gray: #6d7278;
$blue-2: #11384e;
$purple: #896398;
$red: #dc3545;
$pink: #da2e74;
$light-pink: #fbeaf1;
$light-purple: #9b6694;
$light-black: #384045;
$white: #fff;
$soft: #fdf4f8;
$light: rgba(232, 232, 232, .51);
$primary: #da2e74;
$default: #0c405f;
$secondary: #323232;
$success: #00c46c;
$info: #e2e3e4;
$warning: #f1c37b;
$danger: #da2e74;
$light: rgba(232, 232, 232, .51);
$white: #fff;
$soft: #fdf4f8;
$black: #000;
$soft-gray: #b6b8bb;
$dark-gray: #6d7278;
$dark: #394e5b;
$purple: #896398;
$pink: #da2e74;
$cyan: #56ccbd;
$light-cyan: #ddf5f2;
$blue: #0c405f;
$blue-2: #11384e;
$light-blue: #38c2f7;
$bright-blue: #38c2f7;
$fade-blue: #ecf9ff;
$light-purple: #9b6694;
$light-black: #384045;
$light-pink: #fbeaf1;
$light-green: #effaf9;
$sky-blue: #d8f2fd;
$offwhite: #fafafa;
$fade-black: rgba(0, 0, 0, .85);