html,
body {
    margin: 0;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(135deg, #f5f7fa 0%, hsl(217, 35%, 83%) 100%);
    background-image: linear-gradient(to top, rgba($muted-blue, 0.25), rgba($super-light-blue, 0.25));
    // background-color: $fade-black;
}

body * {
    font-family: $roboto;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 30px;
}

.app {
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 70%;
    min-height: 100vh;
    padding: 20px;
    // background-color: white;
}

button,
a {
    margin: 5px 5px;
    padding: 5px 10px;
    text-transform: uppercase;
}

button {
    border: 1px solid darken($green, 10%);
    white-space: nowrap;
    background-color: white;
}

button:hover {
    border-color: $dark-blue;
}

input:hover, button:hover {
    cursor: pointer;
}



.bold-btn {
    background-color: rgba($light-teal, 0.7);
    border: 1px solid $black;
    padding: 5px 20px;
}

.bold-btn:hover {
    background-color: $light-teal;
    border: 1px solid $black;
    padding: 5px 20px;
}

input {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    // border: 1px solid transparent;
}

input[type="text"] {
    background-color: transparent;
    // border: 1px solid transparent;
    border-bottom: 2px solid $light-green;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border-bottom: 2px solid $dark-blue;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}


@media screen and (max-width: 1000px) {
    .main-container {
        width: 90%
    }
}

@media screen and (max-width: 700px) {
    .main-container {
        width: 100%
    }
}