.bills-container {
    display: flex;
}

.bills-index {
    padding: 20px 0px 20px 10px;
    // border: 1px solid;
    width: 30%;
}

.chart-and-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    // border: 1px solid;
}

.pie-chart {
    justify-self: center;
    width: 100%;
    max-width: 500px;
}

// .bill-form{ 
//     padding-top: 30px;
//     border: 1px solid;
// }

.bill, .bill-form {
    padding: 10px;
    margin: 5px;
    border: 1px solid;
    animation: slide-up 0.4s ease;
}

.bill-title {
    font-size: 18px;
}

.bill-errors {
    color: red;
    list-style: circle;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}