label {
  display: inline-block; // to make it easier to click
  color: $dark-blue;
  position: relative; // important

  span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 15px;
    height: 15px;
    transform-origin: center;
    border: 1px solid $dark-blue;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89); // custom ease effect for bouncy animation

    // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"

    &:before {
      content: "";
      width: 0px;
      height: 2px;
      background: $dark-blue;
      position: absolute;
      transform: rotate(45deg);
      top: 5px; // you'll need to experiment with placement depending on the dimensions you've chosen
      left: 3px; // you'll need to experiment with placement depending on the dimensions you've chosen
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: $dark-blue;
      position: absolute;
      transform: rotate(305deg);
      transition: width 50ms ease;
      transform-origin: 0% 0%;
          top: 10px;
          left: 4px;
    }
  }

  // Time to add some life to it

  &:hover {
    span {
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }

      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}






input[type="checkbox"] {
    user-select: none;
  // visibility: hidden; // hide the system checkbox
  display: none;
position: absolute;
z-index: 9999;
  width: 15px;
  margin: 2px;
  height: 15px;
  transform-origin: center;
  // Let's add some effects after the checkbox is checked

  &:checked {
    +label {
      span {
        background-color: $dark-blue;
        // transform: scale(1.25); // enlarge the box

        &:after {
          width: 10px;
          background: $blue;
          transition: width 150ms ease 100ms; // enlarge the tick
        }

        &:before {
          width: 5px;
          background: $blue;
          transition: width 150ms ease 100ms; // enlarge the tick
        }
      }

      &:hover {
        cursor: pointer;
        // copy the states for onMouseOver to avoid flickering
        span {
          background-color: $dark-blue;
          // transform: scale(1.25); // enlarge the box

          &:after {
            width: 10px;
            background: $blue;
            transition: width 150ms ease 100ms; // enlarge the tick
          }

          &:before {
            width: 5px;
            background: $blue;
            transition: width 150ms ease 100ms; // enlarge the tick
          }
        }
      }
    }
  }
}