@import '../base/colors.scss';

label {
  display: inline-block;
  color: $black;
  position: relative;
  font-weight: bold;
  text-transform: capitalize;

  span {
    display: inline-block;
    position: relative;
    background-color: $super-light-blue;
    width: 20px;
    height: 20px;
    transform-origin: center;
    border: 1px solid $black;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89);

    //create lines of checkmark using pseudo elements

    &:before {
      content: "";
      width: 0px;
      height: 2px;
      background: $black;
      position: absolute;
      transform: rotate(45deg);
      top: 8px;
      left: 4px;
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: $black;
      position: absolute;
      transform: rotate(310deg);
      transition: width 50ms ease;
      transform-origin: 0% 0%;
      top: 13px;
      left: 6px;
    }

    // draw checkmark hover animation
    &:hover {
      cursor: pointer;

      &:before {
        width: 6px;
        transition: width 100ms ease;
      }

      &:after {
        width: 13px;
        transition: width 150ms ease 100ms;
      }

    }
  }

}

input[type="date"] {
  width: 155px;
}


#create-chore {
  .radio {
    margin-left: 10px;

    label {
      margin-left: 10px;
      padding: 5px;
    }
  }
}

input[type="checkbox"] {
  user-select: none;
  // hide the system checkbox
  display: none;
  position: absolute;
  z-index: 9999;
  width: 20px;
  margin: 2px;
  height: 20px;
  transform-origin: center;

  &:checked {
    +label {
      span {
        background-color: transparent;
        border-color: transparent;

        &:after {
          width: 13px;
          background: $black;
          transition: width 150ms ease 100ms;
        }

        &:before {
          width: 6px;
          background: $black;
          transition: width 150ms ease 100ms;
        }
      }

      &:hover {
        cursor: pointer;

        span {
          background-color: transparent;
          border-color: transparent;

          &:after {
            width: 13px;
            background: $black;
            transition: width 150ms ease 100ms;
          }

          &:before {
            width: 5px;
            background: $black;
            transition: width 150ms ease 100ms;
          }
        }
      }
    }
  }
}

.chores-list-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 5px;
  display: grid;


  .chore-row {
    display: grid;
    grid-template-columns: 30% 10% 12% 20% 28%;
    align-items: center;
    overflow: hidden;
  }

  .below {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    margin-left: 30px;
    margin-top: 10px;

    label {
      font-weight: bold;
      font-size: 14px;
      color: $grey-blue;
    }
  }

  .toggle-btns {
    display: flex;
  }

  input {
    margin: 0 15px 0 0;
  }

  button {
    margin: 5 15px 5 0;
  }
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-width: 150px;
}


.chore-details {
  div {
    font-size: 13px;
  }
}

.red {
  color: $red;
}

.update-form-container {
  height: 0;
}

li.shaded {
  border: 1px solid $muted-blue;

  transition: border-color 1s ease-out;

}

.chores-list-item {
  height: auto;
  padding: 5px;
}


.edit-chore-container form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 0;
  flex-wrap: wrap;

  input[type="number"] {
    width: 50px;
  }
}

.loading {
  margin-top: 15vh;
}

.chores-page {
  display: grid;
  // flex-direction: column;
  // align-content: center;

  .chores-list-container {
    width: 100%;
  }
}


#create-chore {
  border: 1px solid #849ca5;
  padding: 10px;
  margin-bottom: 10px;
}

.no-chores {
  margin-bottom: 10px;
}