label {
  display: inline-block;
  color: $black;
  position: relative;

  span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 15px;
    height: 15px;
    transform-origin: center;
    border: 1px solid $light-teal;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89);

    //create lines of checkmark using pseudo elements

    &:before {
      content: "";
      width: 0px;
      height: 2px;
      background: $black;
      position: absolute;
      transform: rotate(45deg);
      top: 6px;
      left: 3px;
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: $black;
      position: absolute;
      transform: rotate(305deg);
      transition: width 50ms ease;
      transform-origin: 0% 0%;
      top: 10px;
      left: 5px;
    }
  }

  &:hover {
    span {
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }

      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}






input[type="checkbox"] {
  user-select: none;
  // hide the system checkbox
  display: none;
  position: absolute;
  z-index: 9999;
  width: 15px;
  margin: 2px;
  height: 15px;
  transform-origin: center;

  &:checked {
    +label {
      span {
        background-color: transparent;
        border-color: transparent;

        &:after {
          width: 10px;
          background: $black;
          transition: width 150ms ease 100ms;
        }

        &:before {
          width: 5px;
          background: $black;
          transition: width 150ms ease 100ms;
        }
      }

      &:hover {
        cursor: pointer;

        span {
          background-color: transparent;
          border-color: transparent;

          &:after {
            width: 10px;
            background: $black;
            transition: width 150ms ease 100ms;
          }

          &:before {
            width: 5px;
            background: $black;
            transition: width 150ms ease 100ms;
          }
        }
      }
    }
  }
}