.dashboard {
  display: flex;
  flex-direction: column;
  color: $black;
}

.dashboard-welcome, .housemates, .upcoming-events, .dashboard-chores, .dashboard-bills{
  // background-color: $light-teal;
  // margin: 5px;
  box-shadow: 0px 0px 5px 2px $muted-blue;
  padding: 10px;
  background-color: $super-light-blue;
}

.dashboard-welcome {
  // margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
}

.dashboard-welcome h1 {
  font-size: 36px;
  font-weight: 900;
  color: $dark-teal;
  // background: linear-gradient(to right, $dark-teal, $green, $light-teal);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        animation: fadein 2s;
}

@keyframes fadein {
    from { 
      opacity: 0;
      transform: translate3d(0,40px,0)
    }
    to   { 
      transform: translate3d(0,0,0);
      opacity: 1; 
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { 
      opacity: 0;
      transform: translate3d(0,40px,0)
    }
    to   { 
      transform: translate3d(0,0,0);
      opacity: 1; 
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { 
      opacity: 0;
      transform: translate3d(0,40px,0)
    }
    to   { 
      transform: translate3d(0,0,0);
      opacity: 1; 
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { 
      opacity: 0;
      transform: translate3d(0,40px,0)
    }
    to   { 
      transform: translate3d(0,0,0);
      opacity: 1; 
    }
}

.housemates {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.3;
  margin-bottom: 20px;
  box-shadow: none;
  // background-color: $bright-blue;
}

.housemates h3 {
  font-size: 20px;
  color: $dark-teal;
}

.accepted-housemates {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.housemates span {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: $light-teal;
  display: flex;
}

// .upcoming-events h1 {

// }

.upcoming-events-div, .bills-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-image: linear-gradient(to left, $dark-teal, $green, $light-teal);

}

.chores-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 20px;
  background-image: linear-gradient(to left, $dark-teal, $green, $light-teal);
  padding-bottom: 20px;
  padding-top: 20px;
}



.upcoming-events-div i {
  flex: 0.7;
  font-size: 200px;
  color: $dark-teal;
  margin-left: 40px;
  margin-right: 20px;

}

.upcoming-events-div p {
  flex: 1.3;
  text-align: center;
}

.upcoming-events-div a {
  flex: 1;
  margin-right: 20px;
  min-width: 300px;
}

.chores-div a {
  // flex: 1;
  margin-right: 20px;
  min-width: 300px;
}

.bills-div a {
  // flex: 1;
  margin-right: 20px;
  min-width: 300px;
}

.chores-div i {
  flex: 0.7;
  font-size: 200px;
  color: $dark-teal;
  margin-left: 20px;
  margin-right: 40px;
  // padding-left: 40px;
}

.chores-div p {
  flex: 1.3;
  text-align: center;
}



.bills-div i {
  flex: 0.7;
  font-size: 200px;
  color: $dark-teal;
  margin-left: 40px;
  margin-right: 20px;
}

.bills-div p {
  flex: 1.3;
  text-align: center;
}

.dashboard p {
  font-size: 20px;
}

.dashboard a h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.dashboard a span {
  text-transform: capitalize;
}

.dashboard-bottom {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, $dark-teal, $green, $light-teal);
  padding: 20px;
  box-shadow: 0px 0px 10px 2px $gray;
}

.dashboard-bottom i {
  font-size: 200px;
  color: $dark-teal;

}

.dashboard-bottom i:nth-of-type(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.action-icons-div, .action-text-div, .action-items-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.action-icons-div {
  flex: 0.4;
}

.action-text-div {
  flex: 0.7;
  // text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.action-items-div {
  flex: 0.7;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        animation: fadein 2s;
}
