img#logo-img {
  max-height: 50px;
  min-height: 50px;
  width: auto;
}

a#logo-link {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 60px;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  margin: 0 5px;
}

.navlink {
  min-width: 35px;
  padding: 4px 0;
  font-size: 16px;
  position: relative;

  &::before {
    content: '';
    border-bottom: 2px solid black;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0px;
    transform: scaleX(0);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }

  &:hover {
    font-weight: bold;

    &::before {
      transform: scale(1);
    }
  }

}

.active-navlink {
  border-bottom: 2px solid black;
  font-weight: bold;
}