img#logo-img {
  max-height: 50px;
  min-height: 50px;
  width: auto;
}

a#logo-link {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 60px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-navlink {
  text-decoration: underline;
}